* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: cursive;
}
#root{
    width: 100vw;
  height: 100vh;
}
.body {
  width: 100%;
  min-height: 100%;
  background-color: #e0dede;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
nav {
  padding-top: 1rem;
  width: 100%;
  height: 13rem;
  border-bottom: 1px solid rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.2rem;
}
nav h1 {
  color: #fff;
  text-shadow: 3px 3px 5px black;
}
nav ul{
  
  list-style-type: none;
}
 .main{
    margin: 2rem;
     display: flex ;  
    width: 70rem; 
     flex-direction: column;  
     justify-content: flex-start;  
     align-items: flex-start; 
 }
.title{
    font-size: 1.8rem;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    /* margin-left: 6rem; */
}
input{
    all: unset;
    width: 90%;
    height: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-family: cursive;
    color: rgb(53, 53, 53);
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 0.5rem;
    font-size: 1.2rem;
} 
input:focus{
  border: 1px solid purple;
}
label{
    font-size: 1.4rem;
    color: gray;
    margin-left: 0.5rem;
}
.btns{
  width: 23rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
    all: unset;
    width: 10rem;
    height: 3rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 165, 165);
    color:#fff ;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-left: 0.2rem;
    font-size: 1.3rem;
}
.btn:hover{
    background-color: gray;
}
.btn.btn-cncl{
  background-color: rgb(161, 111, 111);
}
.contact-section{
    width: 100%;
    height: auto; 
    margin-top: 2rem;
}
.contact-section ul{
  list-style-type: none;
  overflow-x: hidden;
  margin-bottom: 8rem;
}

.contact{
  width: 100%;
  height: 5rem;
  padding: 1rem;
  border-top: 1px solid rgb(197, 197, 197);
  border-bottom: 1px solid rgb(197, 197, 197);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.profile-icon{
 width: 4rem;
 height: 4rem;
 border-radius: 100%;
 color: rgb(97, 97, 97);
 background-color: #c4c4c4;
 margin-right: 2rem;
 
}
.profile-email{
  color: gray;
  font-size: 1rem;
}
.contact-info{
  width: 30rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
}
.icons{
  width: 8rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trash-icon{
  padding: 1rem;
  cursor: pointer;
  font-size: 4rem;
  color: rgb(252, 63, 63);
}
.edit-icon{
  padding: 1rem;
  cursor: pointer;
  font-size: 4rem;
  color: rgb(136, 136, 86);
}
.link-list{
  width: 30rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.main h4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.main h4 a{
  /* margin: 0.5rem; */
  font-size: 1.5rem
}
ul p {
  /* font-size: 2rem; */
  /* text-align: center; */
  color: rgb(99, 98, 98);
}
a{
  color: gray;
  /* padding: 1rem; */
  text-decoration: none;
}
a:focus{
 background-color: gray;
 color: #fff;
}
.main.main-contact{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.search-input{
  width: 50%;
  align-items: center;
  justify-content: center;
}
.search-section{
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}